---
layout: default
---
<div id="bg-home-gif" class="bg-home-gif"></div>
<main id="main-home" class="home w-100 h-100vh align-items-center p-3 py-5 show-in">
    <div class="container px-4" data-title="Desenvolvedor">
        <div class="gx-5 align-items-center justify-content-center">
            <div class="jumbotron d-flex align-items-center" style="height: 65vh">
                <div class="w-100 text-center">
                    <div class="avatar mx-auto mb-4">
                        <img src="{{ site.srcurl }}{{ site.image_path }}/avatar.jpg" class="rounded-circle img-fluid"/>
                    </div>
                    <h2 class="fs-1 font-Hind-SemiBold text-white">
                        Eai, Sou {{ site.author }}
                    </h2>
                    <p class="fs-4 text-white-50 font-Hind-Regular">
                        {{ site.author_title }} <br>
                        <span class="typeText"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="home-social-links-media mt-5 pt-2">
            <a target="_blank" title="Blog" href="https://blog.douglasmedeiros.dev">
                <span><i class="bi bi-rss"></i></span>
            </a>
            <a target="_blank" title="Twitter" href="https://twitter.com/aqueleMetal">
                <span class="bi bi-twitter"></span>
            </a>
            <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/medeirosinacio/">
                <span><i class="bi bi-linkedin"></i></span>
            </a>
        </div>
        <div class="w-100 text-center fs-3 home-icon-scroll mt-3">
            <a class="text-reset cursor-hand" onclick="document.getElementById('sobre').scrollIntoView(true);">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
    </div>
</main>

{% include sections/sobre.html %}
{% include sections/servicos.html %}
{% include sections/github.html %}
{% include sections/experiencia.html %}
{% include sections/contato.html %}
{% include footer.html %}

