<section id="contato" data-title="Contato"
         class="home-contato w-100 h-85vh align-items-center text-start bg-dark py-5 text-light">
    <div class="container pb-4 px-5 w-md-75 py-5">
        <div class="row" data-aos="fade-right">
            <div class="col-md-12">
                <h2 class="font-Hind-SemiBold">Entre em Contato</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pb-5  pb-md-4  pb-lg-0 mt-3" data-aos="fade-right">
                <p>Orçamentos ou propostas
                    podem ser solicitados nos contatos listados ou pelo formulário, vamos trocar uma ideia e tirar esse
                    projeto do papel!</p>
                <br>
                <div class="find-widget">
                    <a href="mailto:Douglas Medeiros<contato-douglasmedeiros.dev@outlook.com>?subject=Informações&amp;body=Olá, vi seu portifólio e gostaria de conversar sobre um projeto!.%0A%0A%0A">
                        <i class="bi bi-envelope-fill"></i>
                        eu@douglasmedeiros.dev
                    </a>
                </div>
                <div class="find-widget">
                    <a href="about:blank" onclick="return false;">
                        <i class="bi bi-geo-alt-fill"></i>
                        Porto Alegre ❤️
                    </a>
                </div>
                <div class="find-widget">
                    <a href="https://wa.me/555184027498?text=Ol&aacute;, vi seu portif&oacute;lio e gostaria de conversar sobre um projeto!"
                       target="_blank">
                        <i class="bi bi-whatsapp"></i>
                        (51) 98402-7498
                    </a>
                </div>
                <div class="find-widget">
                    <a href="https://github.com/medeirosinacio" target="_blank">
                        <i class="bi bi-github"></i>
                        GitHub
                    </a>
                </div>
                <div class="find-widget">
                    <a href="https://www.linkedin.com/in/medeirosinacio/" target="_blank">
                        <i class="bi bi-linkedin"></i>
                        Linkedin
                    </a>
                </div>
                <div class="find-widget">
                    <a href="https://twitter.com/aqueleMetal" target="_blank">
                        <i class="bi bi-twitter"></i>
                        Twitter
                    </a>
                </div>
                <div class="find-widget">
                    <a href="https://www.instagram.com/douglasmedeiros.dev" target="_blank">
                        <i class="bi bi-instagram"></i>
                        Instagram
                    </a>
                </div>
                <div class="find-widget mt-2">
                    <a class="btn btn-sm btn-outline-light" target="_blank">
                        <i class="bi bi-cloud-download-fill" style="font-size: 1rem"></i>
                        Download CV
                    </a>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-left">
                <form id="staticform" class="d-none staticform text-light" onsubmit="handleSubmit(this); return false;">

                    <input type="hidden" id="accessKey" name="accessKey" value="{{ site.staticforms_api_key }}">
                    <input type="hidden" id="subject" name="subject" value="Mais informações!">

                    <div class="form-group label-floating">
                        <label class="control-label" for="name">Nome</label>
                        <input class="form-control"
                               id="name"
                               name="name"
                               type="text"
                               minlength="5"
                               maxlength="50" required>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label" for="phone">Telefone</label>
                        <input class="form-control" id="phone" name="phone" type="tel"
                               maxlength="15" minlength="14" onchange="maskTel(this)" onkeyup="maskTel(this)"
                               onkeypress="maskTel(this)" onautocomplete="maskTel(this)" required>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" required>
                    </div>

                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Mensagem</label>
                        <textarea class="form-control"
                                  id="message"
                                  name="message"
                                  type="text"
                                  minlength="10"
                                  maxlength="250"
                                  rows="3"
                                  required>

                        </textarea>
                    </div>

                    <div class="form-group label-floating d-none" id="submitErrorBox"></div>

                    <div class="form-submit mt-3">
                        <button class="btn btn-light btn-load-img" type="submit" id="submitFormBtn">
                            <img src="{{site.srcurl}}/assets/gifs/load_white.gif" class="d-none" height="28">
                            Enviar Mensagem
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>