<section id="experiencia" data-title="Experiência"
         class="home-experiencia w-100 h-100vh align-items-center py-4 bg-light text-dark">
    <div class="container margin-header px-0 px-sm-4 px-lg-5" data-aos="fade-up">
        <div class="row w-100 py-lg-5">
            <div class="col-md-12 text-center">
                <h2 class="font-Hind-SemiBold pb-4">Experiência</h2>
            </div>
            <div class="col-md-12">
                <div class="container">
                    <div class="main-timeline">
                        {% for experiencia in site.data.dados.experiencias %}
                        <div class="timeline" data-aos="zoom-in">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">{{experiencia.mes}}</span>
                                    <span class="year">{{experiencia.ano}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content" data-aos="zoom-in">
                                <h5 class="title">{{experiencia.title}}</h5>
                                <p class="description">
                                    {{experiencia.text}}
                                    <br><br>
                                    <i>
                                        {% for tag in experiencia.tags %}
                                        #{{tag}}
                                        {% endfor %}
                                    </i>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>