<section id="github"
         class="w-100 align-items-center py-4 bg-dark text-light overflow-hidden ">
    <div class="home-github container px-4 px-md-5 w-md-75">
        <div class="row py-lg-5  px-0 px-lg-5">
            <div class="col-md-8 text-center text-md-start" data-aos="fade-right">
                <h2 class="font-Hind-SemiBold">Projetos</h2>
                <h3 class="font-Hind-Regular">Confira meus projetos e portfólio no GitHub!</h3>
            </div>
            <div class="col-md-4 d-flex text-center text-md-start justify-content-center justify-content-md-start align-items-center pt-3 pt-md-0" data-aos="fade-left">
                <a href="https://github.com/medeirosinacio"
                   role="button"
                   class="btn btn-sm-lg btn-light fs-4 ms-0" target="_blank">
                    Repositório <i class="bi bi-link-45deg"></i>
                </a>
            </div>
        </div>
    </div>
</section>