<section id="portfolio" data-title="Portfólio"
         class=" d-none home-portfolio w-100 h-100vh align-items-center text-center py-4 bg-dark-blue text-light">
    <div class="container margin-header pb-2">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="font-Hind-Medium">Portfólio em <b class="font-Hind-SemiBold">Destaque</b></h1>
                <p class="lead text-muted">
                    Alguns de meus trabalhos nessa
                    <i class="text-decoration-line-through">rede mundial de computadores</i> interwebs.
                </p>
                <p class="mt-2">
                    <input type="radio" class="btn-check" autocomplete="off" id="port-all" checked name="portfolio"
                           onchange="portifolio();">
                    <label class="btn btn-outline-secondary rounded-0 m-1 shadow-sm" for="port-all">
                        Todos
                    </label>
                    <input type="radio" class="btn-check" autocomplete="off" id="port-sites" name="portfolio"
                           onchange="portifolio();">
                    <label class="btn btn-outline-secondary rounded-0 m-1 shadow-sm" for="port-sites">
                        Sites
                    </label>
                    <input type="radio" class="btn-check" autocomplete="off" id="port-sistemas" name="portfolio"
                           onchange="portifolio();">
                    <label class="btn btn-outline-secondary rounded-0 m-1 shadow-sm" for="port-sistemas">
                        Sistemas
                    </label>
                    <input type="radio" class="btn-check" autocomplete="off" id="port-repo" name="portfolio"
                           onchange="portifolio();">
                    <label class="btn btn-outline-secondary rounded-0 m-1 shadow-sm" for="port-repo">
                        Repositórios
                    </label>
                </p>
            </div>
        </div>
        <div class="album pb-4">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" data-tag="sites">
                        <div class="card shadow-sm">
                            <img src="{{ site.srcurl }}{{ site.image_path }}/projetos/isiscouto.com.br.jpg">
                        </div>
                    </div>
                    <div class="col" data-tag="sites">
                        <div class="card shadow-sm">
                            <img src="{{ site.srcurl }}{{ site.image_path }}/projetos/bocadolagarto.com.br.jpg">
                        </div>
                    </div>
                    <div class="col" data-tag="sistemas">
                        <div class="card shadow-sm">
                            <img src="{{ site.srcurl }}{{ site.image_path }}/projetos/agenda.jpg">
                        </div>
                    </div>
                    <div class="col" data-tag="sites">
                        <div class="card shadow-sm">
                            <img src="{{ site.srcurl }}{{ site.image_path }}/projetos/dump.jpg">
                        </div>
                    </div>
                    <div class="col" data-tag="repo">
                        <div class="card shadow-sm">
                            <img src="{{ site.srcurl }}{{ site.image_path }}/projetos/jekyll-bootstrap.jpg">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm" data-tag="sistemas">
                            <img src="{{ site.srcurl }}{{ site.image_path }}/projetos/larafull.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>