<section id="servicos" data-title="Serviço"
         class="home-servicos w-100 h-100vh align-items-center py-4 bg-semilight text-dark">
    <div class="container margin-header px-4 px-lg-5" data-aos="fade-up">
        <div class="row py-lg-5">
            <div class="col-md-12 text-start">
                <h2 class="font-Hind-SemiBold pb-3">Serviço</h2>
            </div>
            <div class="col-md-12">
                <div class="row">
                    {% for servico in site.data.dados.servicos %}
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            {{ servico.icon }}
                            <h4>{{ servico.title }}</h4>
                            <p>{{ servico.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>