<section id="servicos" data-title="Serviço"
         class="home-servicos w-100 h-100vh align-items-center text-center py-4 bg-semilight text-dark">
    <div class="container margin-header px-4 px-lg-5" data-aos="fade-up">
        <div class="row py-lg-5">
            <div class="col-md-12 text-start">
                <h2 class="font-Hind-SemiBold pb-3">Serviço</h2>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            <i class="bi bi-hdd-stack-fill"></i>
                            <h4>Desenvolvedor Back-End</h4>
                            <p>Sistemas de gestão dos tipos ERP, CRM, RPA, integrados ou API's complexas
                                com implementação de metodologias ágeis.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            <i class="bi bi-caret-right-fill"></i>
                            <i class="bi bi-caret-right-fill"></i>
                            <h4>Automação de processos</h4>
                            <p>Desenvolvimento de sistemas integrados para automação de rotinas e processos.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            <i class="bi bi-file-bar-graph-fill"></i>
                            <h4>Analista</h4>
                            <p>Mapeamento e analise de fluxo de processos para otimização e melhoria de sistemas.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            <i class="bi bi-signpost-2-fill"></i>
                            <h4>Web Site</h4>
                            <p>Desde blogs com baixo custo até comerciais landpages com domínio e email exclusivo.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            <i class="bi bi-phone-fill"></i>
                            <h4>Aplicativo</h4>
                            <p>Aplicações mobile para integrar sistemas novos ou já existentes, disponível em
                                multiplataformas.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up">
                        <div class="servico-item">
                            <i class="bi bi-asterisk"></i>
                            <h4>Especificidade</h4>
                            <p>Tem um projeto muito especifico? alguma automação ou extensão de navegador? tenho certeza
                                que posso ajudar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>