<footer id="rodape" class="w-100 align-items-center text-center py-2 bg-dark text-light">
    <div class="container py-4 w-75">
        <div class="row">
            <div class="col-12 text-center">
                <div class="small m-0 text-white text-center">
                    Copyright © <span id="copyright-year">
                    <script>
                        document.getElementById('copyright-year').innerHTML = new Date().getFullYear();
                    </script>
                </span> Douglas Medeiros
                    <br>
                    <div class="small font-Lato">
                        Hospedado gratuitamente ❤ com&emsp13;
                        <a href="https://pages.github.com/" class="text-decoration-none text-reset">
                            Github Pages
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
