<header id="header" class="w-100">
    <div class="container w-100 d-flex align-content-center justify-content-between">
        <table class="table-reset logo">
            <tbody>
            <tr>
                <td>
                    <a href="/" title="Home">
                        <img src="{{ site.srcurl }}{{ site.image_path }}logo/logo.svg" alt="Logo" width="15">
                    </a>
                </td>
                <td class="fs-6 font-Lato-Black">
                    <a class="text-reset text-decoration-none text-uppercase" title="Home" href="/">Douglas Medeiros</a>
                    <small class="logo-subtitle text-uppercase font-Avenir-LT-Light">&nbsp;&nbsp;/&nbsp;<span id="subtitle-logo">Desenvolvedor</span></small>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="menu align-content-end">
            <div class="menu-icon">
                <input class="menu-icon__cheeckbox" type="checkbox" />
                <div>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>