<nav class="d-none navbar navbar-expand-lg navbar-dark py-4">
    <div class="container px-sm-5">
        <a class="navbar-brand" href="{{ site.srcurl }}/" title="Página inicial">
            <img src="{{ site.srcurl }}{{ site.image_path }}logo/logo.svg" alt="Logo" width="15"
                 class="d-inline-block align-middle">
            <b class="fs-5 align-middle font-Poppins-ExtraBold">{{ site.author }}</b>
        </a>
        <small class="logo-subtitle text-uppercase font-Avenir-LT-Light">/&nbsp;Desenvolvedor</small>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle no-after main-menu-icon" href="#" id="navbarDarkDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-list"></i>
                        <i class="bi bi-x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                        aria-labelledby="navbarDropdownPortfolio">
                        <li>
                            <a class="dropdown-item" href="{{ site.srcurl }}/sobre">
                                <h2 class="text-inherit">Sobre</h2>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{{ site.srcurl }}/portfolio">
                            <h2 class="text-inherit">Portfólio</h2>
                        </a>
                        </li>
                        <li><a class="dropdown-item" href="{{ site.srcurl }}/contato">
                            <h2 class="text-inherit">Contato</h2>
                        </a>
                        </li>
                        <li><a class="dropdown-item" href="{{ site.srcurl }}/blog">
                            <h2 class="text-inherit">Blog</h2>
                        </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>