<nav class="navbar navbar-expand-lg navbar-dark py-4">
    <div class="container px-sm-5">
        <a class="navbar-brand" href="{{ site.srcurl }}/" title="Página inicial">
            <img src="{{ site.srcurl }}{{ site.image_path }}logo/logo.svg" alt="Logo" width="15"
                 class="d-inline-block align-middle">
            <b class="fs-3 align-middle font-Poppins-ExtraBold">{{ site.author }}</b>
        </a>
        <small class="logo-subtitle fs-6 text-uppercase font-Avenir-LT-Light">/&nbsp;Desenvolvedor</small>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 font-Avenir-LT-Light" style="font-size: 0.93em !important; margin: 15px 0">-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="{{ site.srcurl }}/sobre">-->
<!--                        <h2 class="text-inherit text-uppercase">Sobre</h2>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{{ site.srcurl }}/projetos">-->
<!--                        <h2 class="text-inherit text-uppercase">Projetos</h2>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{{ site.srcurl }}/contato">-->
<!--                        <h2 class="text-inherit text-uppercase">Contato</h2>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{{ site.srcurl }}/blog">-->
<!--                        <h2 class="text-inherit text-uppercase">Blog</h2>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>
</nav>