body,
html {
  height: 100%;
  @extend .font-Lato;
}

body.bg-dark {
  color: #dedede;
  background-color: #0e0e0e !important;
}

body.bg-light {
  color: #000;
}

.bg-dark-blue{
  background-color: #2b3944 !important;
}

.bg-dark-blue .text-muted {
  color: #94a6b5 !important;
}

.bg-semilight{
  background-color: #ffffffe8;
}

.no-after:after {
  display: none
}

.text-inherit {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.table-reset{
  margin: 0;
  padding: 0;
  border-collapse: inherit;
  border-spacing: 0;
  border: none inherit;
  vertical-align: middle;
}

.h-100vh {
  min-height: 100vh;
}

.cursor-hand {
  cursor: pointer;
}

.link-hover-blue:hover {
  @extend .text-primary;
}

p{
  font-size: 1rem;
}

@include media-breakpoint-down(lg) {
  p{
    font-size: 0.9rem;
  }
}

// BLOG
// Background image for featured blog post
.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

.main-menu-icon.show .bi.bi-x, .main-menu-icon .bi.bi-list {
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.main-menu-icon .bi.bi-x, .main-menu-icon.show .bi.bi-list {
  font-size: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
// .BLOG

// button icon load /contato
.btn-load-img:disabled,
.btn-load-img[disabled] {
  font-size: 0 !important;
}

.btn-load-img:disabled img,
.btn-load-img[disabled] img {
  display: inline-block !important;
}

// check success animation modal /contato
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4d8512;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0px #5b9918;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #5b9918;
  }
}

// blog-post
.blog-post-content p {
  @extend .fs-5;
  @extend .mb-4;
}