@font-face {
  font-family: "Avenir LT 35 Light";
  src: url("../fonts/Avenir LT 35 Light.ttf") format('truetype');
}

.font-Avenir-LT-Light {
  font-family: "Avenir LT 35 Light", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Hind Regular";
  src: url("../fonts/Hind/Hind-Regular.ttf") format('truetype');
}

.font-Hind-Regular {
  font-family: "Hind Regular", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Hind Medium";
  src: url("../fonts/Hind/Hind-Medium.ttf") format('truetype');
}

.font-Hind-Medium {
  font-family: "Hind Medium", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Hind SemiBold";
  src: url("../fonts/Hind/Hind-SemiBold.ttf") format('truetype');
}

.font-Hind-SemiBold {
  font-family: "Hind SemiBold", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Hind Bold";
  src: url("../fonts/Hind/Hind-Bold.ttf") format('truetype');
}

.font-Hind-Bold {
  font-family: "Hind Bold", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Medium.ttf") format('truetype');
}

.font-Lato {
  font-family: "Lato", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/Lato/Lato-Semibold.ttf") format('truetype');
}

.font-Lato-Semibold {
  font-family: "Lato Semibold", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format('truetype');
}

.font-Lato-Bold {
  font-family: "Lato bold", var(--bs-font-sans-serif) !important;
}