header {
  position: fixed;
  z-index: 1;
  opacity: 0.97;
  border-bottom: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  color: #0e0e0e;
  background-color: #fdfdfd;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.6);
}

header.animation {
  animation-name: shutter-in-top;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

header.mini-animation {
  animation-name: shutter-in-bottom;
  animation-duration: 0.1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

header.mini {
  opacity: 0;
}

header.mini .table-reset {
  opacity: 0;
}

header table {
  opacity: 1;
}

.margin-header {
  margin-top: 40px;
}

.logo tr td {
  border-right: 5px solid transparent;
}

.logo tr td img {
  margin-bottom: 3px;
}

.logo-subtitle {
  margin-top: 5px;
  margin-left: -7px;
  letter-spacing: 0.02rem;
}

#subtitle-logo {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.navbar-dark .logo-subtitle {
  color: #bdbdbd;
}

.navbar-nav {
  font-size: 2rem;
}

@keyframes shutter-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shutter-in-bottom {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


.menu-icon {
  transform: scale(1.5);
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    opacity: 0;
  }

  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #181818;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      width: 26px;
      top: 0;
    }

    &:last-of-type {
      width: 12px;
      bottom: 0;
    }
  }

  &.active,
  .menu-icon__cheeckbox:checked + div {
    span {
      &:first-of-type {
        width: 100%;
        transform: rotate(45deg);
        top: 5px;
      }

      &:last-of-type {
        width: 100%;
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 27px;
  }

  &:hover {
    // no need hover effect on mobile.
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 27px;
      }

      span:last-of-type {
        width: 27px;
      }
    }
  }
}

.menu.position-absolute{
  z-index: 5;
  top: 6rem;
  right: 30%;
  opacity: 0.5;
}

.menu.position-absolute span{
  background-color: #919191;
}

@include media-breakpoint-down(lg) {
  .menu.position-absolute{
    top: 3rem;
    right: 16%;
  }
}

@include media-breakpoint-down(md) {
  .menu.position-absolute{
    top: 2rem;
    right: 10%;
  }
}