.bg-home-gif {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -3;
  position: fixed;
  background-image: url("/assets/gifs/bg-home.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  opacity: 0.5;
}

main.home {
  opacity: 0;
  -moz-animation: show-in 0s ease-in 0.6s forwards;
  -webkit-animation: show-in 0s ease-in 0.6s forwards;
  -o-animation: show-in 0s ease-in 0.6s forwards;
  animation: show-in 0s ease-in 0.6s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

main.home .container {
  animation-name: focus-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.avatar img {
  width: 160px;
  height: 160px;
  border: 3px solid white;
  vertical-align: middle;
}

.home-icon-scroll {
  opacity: 1;
  animation-name: fade-in-top;
  animation-duration: 1.8s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}

.typeText {
  opacity: 0;
  -moz-animation: show-in 0s ease-in 5s forwards;
  -webkit-animation: show-in 0s ease-in 5s forwards;
  -o-animation: show-in 0s ease-in 5s forwards;
  animation: show-in 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typeText::after {
  content: "|";
  animation: blink 1.3s infinite;
}

.home-social-links-media {
  height: 40px;
  text-align: center;
}

.home-social-links-media a {
  opacity: 0.5;
  margin: 0.12em;
  @extend .link-light;
  @extend .text-reset;
  @extend .text-decoration-none;
}

.home-social-links-media a:hover {
  opacity: 1;
  transform: rotateY(180deg);
}

.home-social-links-media a span i:before {
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.home-social-links-media a:hover span i:before {
  transform: rotateY(180deg);
}

.home-social-links-media span {
  width: 30px;
  height: 30px;
  display: table-cell;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
}

.home-social-links-media span i {
  color: #b3b3b3 !important;
  font-size: 1.25em !important;
}

.home-sobre .descricao h2 {
  font-size: 2rem;
}

.home-sobre .descricao h5 {
  font-size: 1.1rem;
}

.sobre-social-links-media a {
  @extend .text-reset;
  @extend .text-decoration-none;
}

.sobre-social-links-media a:hover {
  transform: rotateY(180deg);
}

.sobre-social-links-media a span i:before {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
}

.sobre-social-links-media a:hover span i:before {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  animation-duration: 0.1s;
  animation-name: flip;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sobre-social-links-media span i {
  @extend .text-dark;
  font-size: 1.25em !important;
}

.home-sobre .numscroller {
  font-size: 1.8rem;
}

.home-sobre .count-name-intro {
  font-size: 1.35rem;
}

.servico-item {
  text-align: left;
  font-size: 0.9rem;
  padding: 15px 120px 30px 0;
  margin: 0 auto;
}

.servico-item i:first-of-type {
  margin-right: -15px;
}

.servico-item i {
  font-size: 1.5rem;
}

.servico-item h4 {
  text-align: left;
  font-size: 1.2rem;
  @extend .font-Hind-SemiBold;
  padding: 0.7rem 0 0.1rem 0;
}

.home-contato {
  background-image: url(/assets/images/fundo-contato.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: top;
  background-attachment: fixed;
}

.staticform {

}

.home-contato form div {
  color: black;
}

.home-contato form input {
  color: black;
}

section[data-is-visualized="true"] .container {
  animation-name: slide-in-bck-bottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

section[data-is-visualized="false"] .container {
  opacity: 0;
}

@include media-breakpoint-down(xxl) {
  .servico-item {
    padding: 25px 50px 30px 0;
  }
}

@include media-breakpoint-down(lg) {
  .home-sobre .descricao {
    padding-right: 4rem;
  }
}

@include media-breakpoint-down(sm) {
  .servico-item {
    padding: 25px 50px 0 0;
  }
}

@include media-breakpoint-down(md) {
  .bg-home-gif {
    background-position: right;
    background-position-x: 75%;
  }
  .w-md-100 {
    width: 100% !important;
  }
  section .container {
    padding-top: 2.8rem;
    padding-bottom: 2.5rem;
  }
  .home-sobre .descricao {
    padding-right: inherit;
  }
}

@include media-breakpoint-down(sm) {
  .bg-home-gif {
    background-position: right;
    background-position-x: 65%;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes focus-in {
  0% {
    letter-spacing: 0.05em !important;;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes show-in {
  to {
    opacity: 1
  }
}

@-webkit-keyframes show-in {
  to {
    opacity: 1
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
    filter: blur(50px);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}


.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.main-timeline .description i:last-of-type{
  word-spacing: 0.5rem;
  font-size: 0.8rem;
  color: #464646;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

.timeline{
  transform: scale(0.2);
}

.timeline[data-is-visualized="true"]{
  animation-name: scale-up-center;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  transform: scale(1);
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px
  }
  .main-timeline .date-content:before {
    width: 22.5%
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px
  }
  .main-timeline .title {
    font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px
  }
  .main-timeline .timeline {
    margin-bottom: 50px
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0
  }
  .main-timeline .icon {
    margin: auto 0
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0
  }
  .main-timeline .date-content:before {
    display: none
  }
  .main-timeline .date-outer {
    width: 110px;
    height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px
  }
  .main-timeline .date {
    top: 30%
  }
  .main-timeline .year {
    font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 90%;
    text-align: left;
    padding: 10px 0
  }
  .main-timeline .title {
    margin-bottom: 10px;
    padding-top: 15px;
  }
}

@keyframes scale-up-center {
  0%{
    -webkit-transform: scale(.2);
    transform: scale(.2);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}