.sobre .sobre-img{
  background-position: center;
  background-size: cover;
}

.title-sobre div{
  text-transform: uppercase;
  position: absolute;
  left: 45%;
  margin-top: -11.5%;
  z-index: -1;
  color: #292c2f !important;
  font-size: 11rem !important;
}