---
layout: default-not-navbar
stylesheet: /layout/enterprise/stylesheet.css
---
<nav class="navbar navbar-expand-lg navbar-dark py-4">
    <div class="container px-sm-5">
        <a class="navbar-brand" href="{{ site.srcurl }}/" title="Página inicial">
            <img src="{{ site.srcurl }}{{ site.image_path }}logo/logo.svg" alt="Logo" width="15"
                 class="d-inline-block align-middle">
            <b class="fs-3 align-middle font-Poppins-ExtraBold">{{ site.author }}</b>
        </a>
        <small class="logo-subtitle fs-6 text-uppercase font-Avenir-LT-Light">/&nbsp;Desenvolvedor</small>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 font-Avenir-LT-Light"
                style="font-size: 0.93em !important; margin: 15px 0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ site.srcurl }}/sobre">
                        <h2 class="text-inherit text-uppercase">Sobre</h2>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.srcurl }}/projetos">
                        <h2 class="text-inherit text-uppercase">Projetos</h2>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.srcurl }}/contato">
                        <h2 class="text-inherit text-uppercase">Contato</h2>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.srcurl }}/blog">
                        <h2 class="text-inherit text-uppercase">Blog</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="banner">
    <div class="container my-5 py-3" style="height: 80vh">
        <div class="col-7 m-auto my-5">
            <div class="row align-content-center justify-content-center bg-dark">
                <div class="col-6 avatar" style="background-image: url('{{ site.srcurl }}/layout/enterprise/img.png')">
                </div>
                <div class="col-6 d-flex align-items-center font-Roboto-Regular fs-3 px-5">
                    <p style="line-height: 1;">
                        <span>{{ site.author }}</span>
                        <b class="fs-7 text-uppercase" style="letter-spacing: 2px;    font-size: 0.7rem;">
                            Desenvolvedor de Software
                        </b><br><br>
                        <span class="fs-6">
                            <b>E-mail:</b>
                        eu@douglasmedeiros.dev
                        </span>
                    </p>
                </div>
                <div class="col-12 bg-dark text-center py-2 fs-5">
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-github mx-3"></i>
                    <i class="bi bi-twitter"></i>
                </div>
            </div>
        </div>
</header>

<section class="sobre py-5 my-5" id="sobre">
    <div class="container px-5 my-5">
        <div class="row gx-5" style="height: 80vh">
            <div class="sobre-img col-lg-4 mb-5 mb-lg-0 "
                 style="background-image: url('{{ site.srcurl }}/layout/minimalist-black/img.png')">
            </div>
            <div class="col-lg-8 align-content-center">
                <div class="w-100 title-sobre">
                    <h2 class="mb-5 text-center">
                        Douglas Medeiros
                    </h2>
                    <div class="fs-1 text-center text-secondary font-Poppins-ExtraBold">Sobre</div>
                </div>
                <br>
                <br>
                <br>
                <p class="w-50 m-auto">
                    Trabalho com tecnologia a mais de 10 anos, comecei no ramo de telecomunicações onde desenvolvi
                    minhas habilidades de trabalho com hardware e servidores, amo PHP (principalmente o 8 q ta ó <3),
                    trabalho com a linguagem desde 2012, sempre tentando aplicar as melhores praticas de programação,
                    PSRs, Código limpo e padrões de projeto.
                    <br>
                    <br>
                    <a href="#" class="text-decoration-none">Conferir mais!</a>
                </p>
                <div class="w-50 m-auto my-4 fs-3">
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-github mx-3"></i>
                    <i class="bi bi-twitter"></i>
                </div>
                <p class="w-50 m-auto my-5">
                    <b>Contato direto</b>
                    <br>
                    <br>
                    Email: <a href="#" class="text-decoration-none">medeirosinacio@outlook.com</a>
                    <br>
                    Telefone: <a href="#" class="text-decoration-none">(51) 98402-7498</a>
                </p>
            </div>
        </div>
    </div>
</section>