body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/layout/enterprise/bg.jpg');
    background-position-y: -36vh;
}

body{
    overflow-x: hidden;
}


.avatar {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.sobre .sobre-img {
    background-position: center;
    background-size: cover;
}

.title-sobre div {
    text-transform: uppercase;
    position: absolute;
    left: 45%;
    margin-top: -11.5%;
    z-index: -1;
    color: #292c2f !important;
    font-size: 11rem !important;
}